<!DOCTYPE html>
<html >
<head>
	<title>My App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<h1>The App Works!</h1>
	<div>
		<input type="text" id="first" placeholder="First Name">
		<input type="text" id="last" placeholder="Last Name">
		<button onclick="create()">Add Person</button>
		<div id="people"></div>
	</div>
	<script src="/jquery/dist/jquery.js"></script>
	<script src="/javascript/app.js"></script>
</body>
</html>
